/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --text-color: var(--pink-5, #ff0070);
  --button-color: var(--pink-1-transparency, #ff007040);
  --text-title-color: var(--black-1, #000028);
  --main-font: "IBM Plex Mono", sans-serif;
  --bg-color-title-decor: var(--pink-5, #ff0070);
  --bg-color-decorated-zone: var(--pink-5, #ff0070);
  --general-title-color: var(--pink-6, #db00ff);
  --general-title-color-shadow: var(--pink-5, #ff0070);
  --color-shadow: var(--pink-5, #ff0070);
  --text-section-color: var(--pink-2, #f1b2ce);
  --color-rec: var(--pink-5, #ff0070);
  --bg-color: var(--black-1, #000028);
  --bg-image: url("../images/cover-image-dark.png");
  --rec-vision: visible;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--pink-5, #ff0070);
    --button-color: var(--pink-1-transparency, #ff007040);
    --text-title-color: var(--black-1, #000028);
    --main-font: "IBM Plex Mono", sans-serif;
    --bg-color-title-decor: var(--pink-5, #ff0070);
    --bg-color-decorated-zone: var(--pink-5, #ff0070);
    --general-title-color: var(--pink-6, #db00ff);
    --general-title-color-shadow: var(--pink-5, #ff0070);
    --color-shadow: var(--pink-5, #ff0070);
    --text-section-color: var(--pink-2, #f1b2ce);
    --color-rec: var(--pink-5, #ff0070);
    --bg-color: var(--black-1, #000028);
    --bg-image: url("../images/cover-image-dark.png");
    --rec-vision: visible;
  }
}
