/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  color: var(--text-section-color, #f1b2ce);
  background-color: var(--bg-color, #000028);
  margin-right: 0;
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: var(--main-font, "IBM Plex Mono", sans-serif);

  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  display: grid;
}

.header__title-decor {
  max-width: clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem);
  line-height: 23.4px;
}

.header__theme-menu {
  display: flex;
  justify-self: center;
  margin-block-start: 20px;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  position: relative;
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  text-transform: lowercase;
  width: 70px;
  height: 26px;
  color: var(--text-color, #ff0070);
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--button-color, #ff007040);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: 1;
  border-inline-start: 1px solid var(--bg-color-decorated-zone);
  border-block-end: 1px solid var(--bg-color-decorated-zone);
  inset-block-end: 20px;
  inset-inline-start: 20px;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  z-index: 1;
  border-inline-end: 1px solid var(--bg-color-decorated-zone);
  border-block-start: 1px solid var(--bg-color-decorated-zone);
  inset-block-start: 20px;
  inset-inline-end: 20px;
  inline-size: 25px;
  block-size: 25px;
}

.rec-symbol {
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-self: end;
  font-size: 18px;
  padding-block-start: 20px;
  padding-inline-end: 30px;
  color: var(--text-color, #ff0070);
  visibility: var(--rec-vision, visible);
}

.rec-symbol::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--color-rec, #ff0070);
  box-shadow: 0 0 2px 2px var(--color-rec, #ff0070);
}

.general-title {
  color: var(--general-title-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  filter: drop-shadow(4px 4px var(--general-title-color-shadow, #ff0070));
  margin-block-start: 240px;
  margin-block-end: 60px;
}

.general_subtitle {
  margin-inline-end: 20px;
  margin-block-start: 15px;
  margin-block-end: 135px !important;
}

.title-decor {
  justify-self: end;
  background-color: var(--bg-color-title-decor, #ff0070);
  color: var(--text-title-color, #000028);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
}

.content__first-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "title multitasking multitasking"
    "title dopamine dopamine";
  gap: 20px;
  font-family: var(--main-font, "IBM Plex Mono", sans-serif);
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  margin-block-start: 60px;
  font-size: 18px;
}

.content__first-section__title {
  grid-area: title;
  font-size: inherit;
  color: var(--text-color, #ff0070);
}

.content__first-section__subtitle__multitasking {
  margin-block-end: 10px;
}

.content__first-section__subtitle__dopamine {
  margin-block-end: 10px;
}

.section-main-text {
  color: var(--text-section-color);
  line-height: 23.4px;
}

.link__discover {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-shadow, #ff0070);
  color: var(--text-section-color, #f1b2ce);
}

.link__discover:hover {
  text-decoration: underline;
}

.link__discover:focus {
  outline: 0;
}

.link__discover:focus-visible {
  outline: 1px solid currentColor;
}

.content__first-section__multitasking {
  grid-area: multitasking;
}

.content__first-seection__dopamine {
  grid-area: dopamine;
}

.content__second-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "title title title"
    "multitasking food gadget";
  gap: 20px;
  font-size: 18px;
  margin-block-start: 80px;
  margin-inline: 20px;
  font-family: var(--main-font, "IBM Plex Mono", sans-serif);
}

.content__second-section__title {
  font-size: inherit;
  color: var(--text-color, #ff0070);
}

.second-section-main-text {
  color: var(--text-section-color, #f1b2ce);
  margin-block-start: 10px;
  line-height: 23.4px;
}

.content__second-section__multitasking {
  grid-area: multitasking;
}

.content__second-section__food {
  grid-area: food;
}

.content__second-section__gadget {
  grid-area: gadget;
}

.content__third-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "name title title"
    "name sky sky"
    "name music music"
    "name walk walk"
    "name eat eat"
    "name read read";
  font-size: 18px;
  gap: 20px;
  font-family: var(--main-font, "IBM Plex Mono", sans-serif);
  margin-inline: 20px;
  margin-block: 80px;
}

.content__third-section__name {
  grid-area: name;
  font-family: inherit;
  font-size: inherit;
  color: var(--text-color, #ff0070);
}

.content__third-section__title {
  grid-area: title;
  justify-self: start;
  width: 100%;
}

.third-section-main-text {
  color: var(--text-section-color, #f1b2ce);
  line-height: 23.4px;
  margin-block-start: 10px;
}

.content__third-section__sky {
  grid-area: sky;
}

.content__third-section__music {
  grid-area: music;
}

.content__third-section__walk {
  grid-area: walk;
}

.content__third-section__eat {
  grid-area: eat;
}

.content__third-section__read {
  grid-area: read;
}

.content__fourth-section {
  margin-inline: 20px;
  margin-block-end: 55px;
}

.content__fourth-section__picture {
  display: grid;
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  width: 100%;
  gap: 20px;
  margin-block-start: 20px;
}

.content__fourth-section__picture-sunset {
  grid-area: sunset;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__fourth-section__picture-ice-cream {
  grid-area: ice-cream;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__fourth-section__picture-tape {
  grid-area: tape;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__fourth-section__books {
  grid-area: books;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__fourth-section__street {
  grid-area: street;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  width: 100%;
  height: 768px;
  align-items: center;
  justify-content: center;
}

.footer_title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-family: var(--main-font, "IBM Plex Mono", sans-serif);
  font-weight: 700;
  color: var(--general-title-color, #db00ff);
  filter: drop-shadow(2px 2px var(--color-shadow, #ff0070));
}

@media (width < 1024px) {
  .header__theme-menu {
    display: flex;
    justify-self: end;
    margin-inline-end: 20px;
    margin-block-start: 25%;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .general-title {
    margin-block-start: 19%;
    margin-block-end: 15.4%;
  }

  .general_subtitle {
    margin-block-end: clamp(
      11.5625rem,
      20.9375rem + -19.5313vw,
      8.4375rem
    ) !important;
  }

  .content__first-section {
    gap: 20px 40px;
  }

  .content__second-section {
    grid-template-areas:
      "title title title"
      "multitasking multitasking multitasking"
      "food food food"
      "gadget gadget gadget";
    gap: 20px;
    margin-block-end: 65px;
  }

  .second-section-main-text {
    margin-block-end: 0;
  }

  .content__third-section {
    grid-template-columns: 236px 1fr 1fr;
    gap: 20px;
  }

  .content__fourth-section {
    margin-block-end: 60px;
  }

  .footer {
    height: 1024px;
  }
}

@media (width < 768px) {
  .header__theme-menu {
    margin-inline-end: 10px;
    margin-block-start: 70px;
  }

  .decorated-zone::after {
    inset-block-end: 10px;
    inset-inline-start: 10px;
  }

  .decorated-zone::before {
    inset-block-start: 10px;
    inset-inline-end: 10px;
  }

  .rec-symbol {
    padding-block-start: 10px;
    padding-inline-end: 20px;
  }

  .general-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 95.7px;
    margin-block-end: 40px;
    margin-inline-start: 10px;
  }

  .general_subtitle {
    margin-inline: 10px;
    margin-block-end: 65px !important;
  }

  .content__first-section {
    grid-template-areas:
      "title title title"
      "multitasking multitasking multitasking"
      "dopamine dopamine dopamine";
    margin-block-start: 40px;
    margin-inline: 10px;
  }

  .content__first-section__subtitle__multitasking {
    margin-block-end: 10px;
  }

  .content__second-section {
    display: block;
    margin-block-start: 50px;
    margin-inline: 10px;
    margin-block-end: 10px;
  }

  .content__second-section__title {
    margin-block-end: 20px;
  }

  .content__second-section__subtitle {
    margin-block-end: 10px;
    margin-block-start: 20px;
  }

  .content__third-section {
    grid-template-areas:
      "name name name"
      "title title title"
      "sky sky sky"
      "music music music"
      "walk walk walk"
      "eat eat eat"
      "read read read";
    margin-inline: 10px;
    margin-block: 50px;
  }

  .content__fourth-section {
    margin-inline: 10px;
    margin-block-start: 30px;
    margin-block-end: 40px;
  }

  .content__fourth-section__picture {
    grid-template-areas:
      "sunset"
      "ice-cream"
      "tape"
      "books"
      "street";
    gap: 10px;
    margin-block-start: 10px;
  }

  .footer {
    height: 668px;
  }
}
