:root {
  --rec-vision: visible;

  --black-for-dark-theme-text-title: #000028;
  --black-for-light-theme-text: #343430;

  --pink-for-dark-theme-section-text: #f1b2ce;
  --pink-for-light-theme-general-title: #ffc2e6;
  --pink-for-light-theme-decor: #ff8dcb;
  --pink-for-light-theme-bg: #fff1f7;
  --pink-for-dark_light-theme: #ff0070;
  --pink-for-dark-theme-general-title-color: #db00ff;

  --pink-for-dark-theme-button-transparency: #ff007040;
  --black-for-light-theme-button-transparency: #32312d40;

  --text-color: var(--pink-for-dark_light-theme, #ff0070);
  --button-color: var(--pink-for-dark-theme-button-transparency, #ff007040);
  --text-title-color: var(--black-for-dark-theme-text-title, #000028);
  --main-font: "IBM Plex Mono", Courier, monospace;
  --bg-color-title-decor: var(--pink-for-dark_light-theme, #ff0070);
  --bg-color-decorated-zone: var(--pink-for-dark_light-theme, #ff0070);
  --general-title-color: var(
    --pink-for-dark-theme-general-title-color,
    #db00ff
  );
  --general-title-color-shadow: var(--pink-for-dark_light-theme, #ff0070);
  --color-shadow: var(--pink-for-dark_light-theme, #ff0070);
  --text-section-color: var(--pink-for-dark-theme-section-text, #f1b2ce);
  --color-rec: var(--pink-for-dark_light-theme, #ff0070);
  --bg-color: var(--black-for-dark-theme-text-title, #000028);

  --bg-image: url("../images/cover-image-dark.png");
}
/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
